<h1>Users</h1>
<a class="btn btn-primary" [routerLink]="['NewUser']" role="button">Add User</a>
<br/>
<br/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="#user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><a [routerLink]="['User', {id: user.id}]"><i class="glyphicon glyphicon-edit"></i></a></td>
            <td><a (click)='deleteUser(user)'><i class="glyphicon glyphicon-remove"></i></a></td>
        </tr>
    </tbody>
</table>